<div id="header-container">
    <a href="/"><img src="assets/logo.svg"></a>
    <div>
        <div>
            <a href="/"><img src="assets/logo.svg"></a>
            <div>
                <a href="/signup">Signup</a>
                <a href="/login">Login</a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/retail">Marketplace</a></li>
                <li><a href="/real-estate">Real Estate</a></li>
                <li><a href="/vehicles?category_id=1">Vehicles</a></li>
            </ul>
        </nav> 
    </div>
    
</div>