<div id="header-container">
    <a href="/"><img src="assets/logo.svg"></a>
    <div>
        <div>
            <a href="/"><img src="assets/logo.svg"></a>
            <div>
                <a *ngIf="!authStatus" href="/signup">Signup</a>
                <a *ngIf="!authStatus" href="/login">Login</a>
                <a *ngIf="authStatus" href="/account">Account</a>
                <a *ngIf="authStatus" (click)="logout()">Logout</a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/retail">Marketplace</a></li>
                <li><a href="/real-estate">Real Estate</a></li>
                <li><a href="/vehicles?category_id=1">Vehicles</a></li>
                <li><a href="/chat">Chat</a></li>
            </ul>
        </nav>
    </div>
</div>