<form [formGroup]="vehicleForm" (ngSubmit)="submitFilter()">
    <mat-button-toggle-group formControlName="category_id">
        <mat-button-toggle value="1">Cars</mat-button-toggle>
        <mat-button-toggle value="2">Motorbikes</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Vehicle Brands</mat-panel-title>
        </mat-expansion-panel-header>
        <div formGroupName="brandFilter">
            <div *ngFor="let brand of brands">
                <mat-checkbox [formControlName]="brand.id">{{brand.name}}</mat-checkbox>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Vehicle Models</mat-panel-title>
        </mat-expansion-panel-header>
        <div formGroupName="modelFilter">
            <div *ngFor="let model of models">
                <mat-checkbox [formControlName]="model.id">{{model.name}}</mat-checkbox>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-form-field>
        <mat-label>Minimum Price</mat-label>
        <input matInput type="number" formControlName="price_min" min="0" max="100000">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Maximum Price</mat-label>
        <input matInput type="number" formControlName="price_max" min="0" max="100000">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Vehicle Type</mat-label>
        <mat-select formControlName="type_ids">
            <mat-option [value]="">None</mat-option>
            <mat-option [value]="1">Limousine</mat-option>
            <mat-option [value]="2">SUV Geländewagen</mat-option>
            <mat-option [value]="3">Kombi Family Van</mat-option>
            <mat-option [value]="4">Klein- und Kompaktwagen</mat-option>
            <mat-option [value]="5">Sportwagen Coupe</mat-option>
            <mat-option [value]="6">Cabrio Roadster</mat-option>
            <mat-option [value]="7">Kleinbus</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fule Type</mat-label>
        <mat-select formControlName="fuel_types">
            <mat-option [value]="">None</mat-option>
            <mat-option [value]="'diesel'">Diesel</mat-option>
            <mat-option [value]="'benzin'">Benzin</mat-option>
            <mat-option [value]="'electric'">Electric</mat-option>
            <mat-option [value]="'hybrid'">Hybrid</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Condition</mat-label>
        <mat-select formControlName="conditions">
            <mat-option [value]="">None</mat-option>
            <mat-option [value]="'new'">New</mat-option>
            <mat-option [value]="'used'">Used</mat-option>
            <mat-option [value]="'broken'">Broken</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="pickerStart" placeholder="Registration Date Start"
            formControlName="date_first_registration_start">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="pickerEnd" placeholder="Registration Date End"
            formControlName="date_first_registration_end">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Mileage Minimum</mat-label>
        <input matInput type="number" formControlName="mileage_min" min="0" max="10000000">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Mileage Maximum</mat-label>
        <input matInput type="number" formControlName="mileage_max" min="0" max="10000000">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput type="search" formControlName="colors">
    </mat-form-field>
</form>