<a href="{{ listingURL }}" class="real-estate-card">
  <div class="card-image">
    <img src="{{ imageURL }}" alt="Property Image">
  </div>
  <div class="card-content">
    <h3 class="property-title">{{ name }}</h3>
    <p class="property-info">
      <span class="property-type">{{ property_type }}</span> |
      <span class="property-location">{{ location }}</span> |
      <span class="living_area">{{living_area}} m²</span>
    </p>
    <p class="property-price">€ {{ price }}</p>
  </div>
</a>
