.container {
    border: 1px solid #e0e6f0;
    background-color: #efefef;
    height: 100%;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: #e0e6f0;
    margin-top: 15px;
    margin-bottom: 15px;
}

#pricediv {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 10px;
    padding-top: 10px;
    padding-left: 10px;

    p {
        all: unset;
        padding-bottom: 5px;
    }

    #price {
        all: unset;
        color: #00A4E8;
        font-weight: 900;
        font-size: 35px;
    }
}

#userdiv {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        all: unset;
        font-weight: 400;
        font-size: 20px;
    }

    button {
        width: 75%;
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 0px 16px;
        border-width: 1px;
        border-style: solid;
        border-image: initial;
        border-radius: 4px;
        line-height: 1.5;
        font-weight: 700;
        text-decoration: none;
        outline: none;
        user-select: none;
        white-space: nowrap;
        vertical-align: middle;
        transition: 0.2s;
        cursor: pointer;
        height: 48px;
        font-size: 1rem;
        color: #ffffff;
        border-color: #00a4e8;
        background-color: #00a4e8;
    }
}