<h3>Vehicle Data</h3>
<div>
    <div>
        <p>Date of first registration</p>
        <p>{{date_of_registration}}</p>
    </div>
    <div>
        <p>Mark</p>
        <p>{{mark}}</p>
    </div>
    <div>
        <p>Model</p>
        <p>{{model}}</p>
    </div>
    <div>
        <p>Fuel type</p>
        <p>{{fuel_type}}</p>
    </div>
    <div>
        <p>Mileage</p>
        <p>{{mileage}}</p>
    </div>
    <div>
        <p>Condition</p>
        <p>{{condition}}</p>
    </div>
    <div>
        <p>Vehicle type</p>
        <p>{{type}}</p>
    </div>
    <div>
        <p>Color</p>
        <p>{{color}}</p>
    </div>
    <div>
        <p>Name</p>
        <p>{{name}}</p>
    </div>
</div>