<form [formGroup]="retailItemForm" (ngSubmit)="submitFilter()">
    <mat-button-toggle-group formControlName="category_id">
        <mat-button-toggle [value]="1" checked>Electronics</mat-button-toggle>
        <mat-button-toggle [value]="2">Furniture</mat-button-toggle>
        <mat-button-toggle [value]="3">Fashion</mat-button-toggle>
        <mat-button-toggle [value]="4">Sports & Outdoors</mat-button-toggle>
        <mat-button-toggle [value]="5">Books & Media</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field>
        <mat-label>Minimum Price</mat-label>
        <input matInput type="number" formControlName="price_min" min="0" max="100000">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Maximum Price</mat-label>
        <input matInput type="number" formControlName="price_max" min="0" max="100000">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Condition</mat-label>
        <mat-select formControlName="conditions" multiple>
            <mat-option [value]="">None</mat-option>
            <mat-option [value]="'new'">New</mat-option>
            <mat-option [value]="'used'">Used</mat-option>
            <mat-option [value]="'broken'">Broken</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Delivery Option</mat-label>
        <mat-select formControlName="delivery_options">
            <mat-option [value]="'only pick up'">Only Pick up</mat-option>
            <mat-option [value]="'only delivery'">Only Delivery</mat-option>
            <mat-option [value]="'pick up or delivery'">Pick up or Delivery</mat-option>
        </mat-select>
    </mat-form-field>
</form>