<div>
    <div>
        <h1>{{title}}</h1>
        <app-vehicle-subheader *ngIf="type === 'vehicle'" [date_first_registration]="vehicle_date_first_registered" [mileage]="vehicle_mileage" [condition]="vehicle_condition"></app-vehicle-subheader>
        <app-retail-item-subheader *ngIf="type === 'retail'" [name]="retail_item_name" [delivery_options]="retail_item_delivery_options" [condition]="retail_item_condition"></app-retail-item-subheader>
        <app-real-estate-subheader *ngIf="type === 'property'"  [availability]="availability" [living_area]="living_area" [property_type]="property_type"></app-real-estate-subheader>
    </div>
    <div>
        <app-image-reel [listing_id]="id"></app-image-reel>
        <app-sidebar [price]="price" [seller_name]="seller_name" [address]="address"></app-sidebar>
    </div>
    <app-vehicle-description *ngIf="type === 'vehicle'" [color]="vehicle_color" [condition]="vehicle_condition" [date_of_registration]="vehicle_date_first_registered" [fuel_type]="vehicle_fuel_type" [mark]="vehicle_mark_name" [mileage]="vehicle_mileage" [model]="vehicle_model_name" [name]="vehicle_name" [type]="vehicle_type"></app-vehicle-description>
    <app-retail-item-description *ngIf="type === 'retail'" [name]="retail_item_name" [delivery_options]="retail_item_delivery_options" [condition]="retail_item_condition"></app-retail-item-description>
  <app-real-estate-description *ngIf="type === 'property'"
                               [living_area]="living_area"
                               [room_count]="property_room_count"
                               [availability]="availability"
                               [kitchen]="property_kitchen"
                               [cellar]="property_cellar"
                               [address]="property_address"
                               [property_type]="property_type"
                               [renting_period]="property_renting_period"
                               [balcony]="property_balcony"
                               [parking]="property_parking"
                               [balcony_size]="property_balcony_size"
                               [garden]="property_garden"
                               [storage_room]="property_storage_room"
                               [land_plot_size]="property_land_plot_size"
                               [num_floors]="property_num_floors"
                               [term_type]="property_term_type"
                               [price_per_month]="property_price_per_month"
                               [advance_payment]="property_advance_payment"
                               [immediate_availability]="property_immediate_availability">
  </app-real-estate-description>
    <h3>Description</h3>
    <p>{{description}}</p>
</div>
