#container {
    all: unset;
    display: flex;
    gap: 50px;
}

div > div {
    all: unset;
    display: flex;
    align-items: baseline;

    h2 {
        padding: 0px;
        margin: 0px;
    }
}