<div *ngIf="!authenticated">
    <mat-card>
        <mat-card-content>
            <h2>You must log in first:</h2>
            <app-login></app-login>
            <a href="/auth/signup">If you dont have an account, click here to signup!</a>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="authenticated">
    <mat-card appearance="outlined">
        <mat-card-title>Change Password</mat-card-title>
        <mat-card-content>
            <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                <label for="password">Password: </label>
                <input id="password" type="password" formControlName="password">
                <button type="submit" [disabled]="!passwordForm.valid">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
        <mat-card-title>Change Address</mat-card-title>
        <mat-card-content>
            <form [formGroup]="addressForm" (ngSubmit)="changeAddress()">
                <label for="city">City: </label>
                <input id="city" type="text" formControlName="city">
                <label for="postal_code">Postal Code: </label>
                <input id="postal_code" type="text" formControlName="postal_code">
                <label for="street_address">Street Address: </label>
                <input id="street_address" type="text" formControlName="street_address">
                <button type="submit" [disabled]="!addressForm.valid">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>

    <div>
        <h1>Your Listings</h1>
        <button>Create new Listing</button>
        <div *ngFor="let listing of listings">
            <mat-card appearance="outlined">
                <app-listing-preview 
                    [id]="listing.id" 
                    [price]="listing.price"
                    [title]="listing.title" 
                    [type]="listing.type"
                    [date_first_registration]="listing.vehicle_date_first_registration" 
                    [mileage]="listing.vehicle_mileage"
                    [condition]="listing.vehicle_condition">
                </app-listing-preview>
                <button>Modify</button>
                <button>Delete</button>
            </mat-card>
        </div>
    </div>
</div>