<h3>Property Details</h3>
<div>
  <div>
    <p>Living Area</p>
    <p>{{living_area}} m²</p>
  </div>
  <div>
    <p>Room Count</p>
    <p>{{room_count}}</p>
  </div>
  <div>
    <p>Available From</p>
    <p>{{availability}}</p>
  </div>
  <div>
    <p>Property Type</p>
    <p>{{property_type}}</p>
  </div>
  <div>
    <p>Address</p>
    <p>{{address}}</p>
  </div>
  <div>
    <p>Rental Period</p>
    <p>{{renting_period}}</p>
  </div>
  <div>
    <p>Kitchen</p>
    <p>{{kitchen ? 'Yes' : 'No'}}</p>
  </div>
  <div>
    <p>Cellar</p>
    <p>{{cellar ? 'Yes' : 'No'}}</p>
  </div>
  <div>
    <p>Balcony</p>
    <p>{{balcony ? 'Yes' : 'No'}}</p>
  </div>
  <div>
    <p>Parking</p>
    <p>{{parking ? 'Yes' : 'No'}}</p>
  </div>
</div>
